{% extends "semantic/semantic.html" %}

{% block semantic_main %}

 <h4>Прогнозирование настроения киноотзыва</h4>
            <h4>Описание задачи:</h4>
            <p> Данная задача заключалась в тренировке модели на отзывах о кинофильмах из набора IMDB.
                Данный набор содержит 25.000 отрицательных отзывов, и 25.000 положительных на английском языке.
            </p>
            <div class="line"></div>

            <h4>Реализация задачи:</h4>
            <p>
                В качестве предварительной обработки данных был использован степпер.
            </p>

            <div class="line"></div>

            <!--<h2>Lorem Ipsum Dolor</h2>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->

            <!--<div class="line"></div>-->

            <!--<h2>Lorem Ipsum Dolor</h2>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->

            <!--<div class="line"></div>-->

            <!--<h3>Lorem Ipsum Dolor</h3>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
            <a href="review/" class="btn btn-primary " role="button" aria-pressed="true">Добавить новый отзыв</a>

{% endblock %}
